<%- include('../partials/headAndNav') %>

<div class="row align-items-center row-cols-auto">
<% for (let i = 0; i < musicians.length; i++) { %>
    <div class="container text-center">
            <div class="container my-2 py-2">
                <div class="card" style="width: 18rem;">
                    <img src= <%= musicians[i].img %> class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title"><%= musicians[i].name %></h5>
                      <p class="card-text">Instrument: <%= musicians[i].instrument %></p>
                      <a href="/musicians/<%= musicians[i]._id %>" class="btn btn-primary">See Artist</a>
                    </div> 
                  </div>
            </div>
        </div>
<% } %>
</div>
<%- include('../partials/footer') %>
